<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="29074ShiyaoZhang.Bing"
    Publisher="CN=904DBA2D-E4E3-41AF-BB76-3158EE2E1C1B"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="5e6b5bdd-9746-4a2c-ae64-577ece97e2a3" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Bing Wallpaper Download</DisplayName>
    <PublisherDisplayName>Shiyao Zhang</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="BBUWP.App">
      <uap:VisualElements
        DisplayName="Bing Wallpaper Download"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Download Bing image of the day and set it to your computer."
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="portrait"/>
          <uap:Rotation Preference="landscapeFlipped"/>
          <uap:Rotation Preference="portraitFlipped"/>
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="BBBackgroundTask.BackgroundTask">
          <BackgroundTasks>
            <Task Type="systemEvent"/>
            <Task Type="timer"/>
          </BackgroundTasks>
        </Extension>
        <uap5:Extension Category="windows.startupTask">
          <uap5:StartupTask
            TaskId="BingBackgroundStartupId"
            Enabled="false"
            DisplayName="BingBackground Startup Task" />
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>